<div class="page-header" >
  <h3 class="pull-right">team attention</h3>
  <h1><%= @user.full_name %></h1>

</div>

<div class="span12 offset1">
  <% if @players.empty? %>
   <a href="#">Add your players</a>
  <% else %>
    <% @players.each do |player| %>
     <div class="well span3">
        <%= link_to player.player_name, "player#show" %>
      <hr />
     </div>
    <% end %>
  <% end %>
</div>
<div class="btn affix"><%= link_to 'Add Player', new_player_path %></div