<div class="page-header" >
  <h3 class="pull-right">Team Attention</h3>
  <h1>My Player's</h1>
</div>


<div class="span12 offset1">
    <% @players.each do |player| %>
     <div class="well player_index span3">
        <%= link_to player.player_name, [@user, player] %><br>
        <%= link_to 'Edit', edit_user_player_path(@user, player) %> | 

        <%= link_to 'Destroy', [@user, player], method: :delete, data: { confirm: 'Are you sure?' } %>
      
      <hr />
     </div>
    <% end %>
</div>
<span class='btn affix'><%= link_to 'Add Player', new_user_player_path(@user) %></span>

