<div class="page-header" >
  <h3 class="pull-right">Team Attention</h3>
  <h1>My Player's</h1>
</div>


<div class="span12 offset1">
  <% if @players.empty? %>
   <a href="#">Add your players</a>
  <% else %>
    <% @players.each do |player| %>
     <div class="well player_index span3">
        <%= link_to player.player_name, player %><br>
        <%= link_to 'Edit', edit_player_path(player) %> | 

        <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      <hr />
     </div>
    <% end %>
  <% end %>
</div>
<span class='btn affix'><%= link_to 'Add Player', new_player_path %></span>

