<p id="notice"><%= notice %></p>

<h2 class="page-header">
<%= @player.player_name %>
</h2>
<aside>
  <div class="affix btn-grp">
    <button class="btn"><%= link_to 'Edit Player', [:edit, @user, @player] %></button>
    <button class="btn"><%= link_to 'Back to Team', [@user, :players] %></button>
    
  </div>
</aside>  
